.WillFilm{
  border-top: 1px solid #ccc;
  margin: 0 20px;
  padding: 10px 0 15px;
  overflow: hidden;
  h4{
    font-size: 20px;
  }
  .WillFilm-content{
    margin-top: 10px;
    img{
      width: 100px;
      height: 130px;
      float: left;
    }
    .rightContent{
      width: 254px;
      float: left;
      margin-left: 20px;
      line-height: 30px;
      h5{
        font-size: 20px;
      }
      p{
        font-size: 16px;
        span{
          color: orangered;
        }
      }
      a{
        font-size: 14px;
        float: right;
        margin-top: -50px;
        display: inline-block;
        width: 50px;
        height: 30px;
        line-height: 30px;
        background: blue;
        border-radius: 30px;
        text-align: center;
        color: white;
      }
    }
  }
}