
.before{
margin: 22px 0 13px 31px;
  .before-p1{
font-size: 20px;
  }
  .before-p2{
    font-size: 17px;
    color:darkgray;
    margin-top: 22px;
    margin-bottom: 24px;
  }
  border-bottom: 1px solid #d5d5d5;
}
.iconfont{
display: inline;

  .iconfont icon-zuowei_kexuan{
    color: white;
  }
  .iconfont icon-xuanzuoweixuan-chushou{
    color: red;
}
  .iconfont icon-xuanzuowei-yixuan{
    color: green;
  }
}
.main{
  width: 412px;
  height: 450px;
  background-color: #efeff4;
  margin-top: 4px;
ul li{
  margin-top: 20px;
}
  .main-d{
    margin-top: 120px;
  }
  .main-ul{
    margin-top: 20px;
    background: #78787a;
    width: 18px;
    height: 480px;
    border-radius:10%;
  }
}

